{% extends 'base/base.html' %}
{%block content%}

{% if form.errors %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    There was an error. Please Reload
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
<center>
    <h1>Register</h1>
</center>
<br>
<div class="shadow-lg p-4 mb-5 bg body rounded" style="background: #ffff; max-width: 700px; margin: auto;">
    <form action="{% url 'register-user' %}" method=POST>
        {% csrf_token %}
        {{form.as_p}}

        <input type="submit" value="Submit" class="btn btn-secondary">
    </form>
</div>

{%endblock%}